<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Electronic Dig</title>
	<link rel="stylesheet" href="../css/Styles.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="../js/dig.js"></script>
	<nav>
		<ul>

			<span id="fullNav">
				<li><a href="../index.html" style="color:white;">Back to Dig</a></li>
			</span>
			<span id="smallNav">
				<div id="dropIcon">
					<a onclick="navToggle()" class="dropbtn">&#9776;</a>
					<div id="navDropdown">
						<a>&nbsp;</a>
						<a href="../index.html" style="color:white;">Back to Dig</a>
					</div>
				</div>
			</span>
			<div class="mainTitle">
				<h1 id="title">OCCANEECHI TOWN</h1>
				<h1 id="subtitle">ELECTRONIC DIG</h1>
			</div>
		</ul>
	</nav>

	<div id="tutorial-container">
    <div id="tutorialbackground"></div>
    <div id="tutorialhead"><h2>Electronic Dig Tutorial</h2></div>
		<div id="tutorialInfo"><img id="tutorialImg" src="../images/tut1.gif">
			<p id="tutorialText">Welcome to the Electronic Dig of Occaneechi Town! This section allows you to re-create, on the computer, the experience of excavating an archaeological site, without actually getting dirty! You decide where to dig, and the computer shows you the result. In this way, you can explore the site in much the same way an archaeologist would, opening the site a section at a time, and deciding where to dig next based on the results of your previous work. For an added note of realism, you can also work (as archaeologists always do) with a limited budget. This forces you to think about how to best use your limited funds in order to get the greatest amount of information.</p>
		</div>
		<a id="nextButton" href="tutorial2.html" class="other-buttons">Next</a>
	</div>
</body>
