<!DOCTYPE html lang="en">
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Electronic Dig</title>
	<link rel="stylesheet" href="../css/Styles.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="js/dig.js"></script>
	<nav>
		<ul>

			<span id="fullNav">
				<li><a href="https://rla.unc.edu/dig/" target="_blank" style="color:white;">Occaneechi Home</a></li>

			    </div>
			  </li>
			</span>
			<span id="smallNav">
				<div id="dropIcon">
					<a onclick="navToggle()" class="dropbtn">&#9776;</a>
					<div id="navDropdown">
						<a>&nbsp;</a>
						<a href="https://rla.unc.edu/dig/" target="_blank" style="color:white;">Occaneechi Home</a>
						<a>Tutorial</a>
						<a href="https://electronicdig.gitbook.io/primer/" target= "_blank">Primer</a>
					</div>
				</div>
			</span>
			<div class="mainTitle">
				<h1 id="title">OCCANEECHI TOWN</h1>
				<h1 id="subtitle">ELECTRONIC DIG</h1>
			</div>
		</ul>
	</nav>

  <div id="tutorial-container">


    <div id="tutorialbackground">






    </div>
		<div id="tutorialLeft">
<p id="tutorialText">To simulate an actual archaeological excavation, you might want to create a budget for your project and work within the constraints of that budget. To do this, first click on the box labeled "Use a Project Budget." Now you can use the budget calculator to set the hourly rate of pay for your excavators, to estimate the total number of squares you wish to excavate, and to determine your total budget. Keep in mind that all three values are interrelated. Changing the hourly rate and budget will change the number of squares, and changing the number of squares will change the budget. To activate the calculator, just type in a new value in one of the fields, then either click on the "OK" button or press "Enter" on your keyboard. The other values will be updated accordingly.</p>
		</div>
		<div id="tutorialRight">
	<img id="tutorialImg" src="../images/tut1.gif">
		</div>
<a id="prevButton" href="tutorial7.html" class="other-buttons">Previous</a>
<a id="nextButton" href="tutorial9.html" class="other-buttons">Next</a>

    <div id="artifacts">
			<h2 class="sideTitle">Contexts</h2>
			<div id="contextTable">
				<table id="contextTableTable">
				  <tr class="artifactrow">
					<th>Context</th>
					<th>Entries</th>
					<th>Photo</th>
				  </tr>
				  <tr class="artifactrow">
					<td>Zone 1</td>
					<td>2</td>
					<td></td>
				  </tr>
				  <tr class="artifactrow">
					<td>Posthole #1</td>
					<td>1</td>
					<td>Yes</td>
				  </tr>
				</table>
			</div>
      <h3 class="sideTitle">Artifacts in Context</h3>
			<div id="artifactTable">
				<table id="artifactTableTable">
				  <tr class="contextrow">
					<th>Cat No.</th>
					<!-- <th>Count</th> -->
					<th>Artifacts</th>
					<!-- <th>Size</th> -->
					<!-- <th>Photo</th> -->
					<th>More</th>
				  </tr>
				<tr class="contextrow">
					<td>Light Fraction</td>
					<!-- <td>1 bag</td> -->
					<td>2351w2758</td>
					<td><button id="myBtn">More</button></td>

					<!-- <td></td> -->
					<!-- <td>=></td> -->
				  </tr>
				  <tr class="contextrow">
					<td>Potsherd</td>
					<!-- <td>1/4"</td> -->
					<!-- <td>1</td> -->
					<td>2351w2756</td>
					<td><button id="myBtn2">More</button></td>
					<!-- <td></td> -->
				  </tr>
				</table>
			</div>
		</div>
  </div>

		<!-- The Modal -->
		<div id="myModal" class="modal">

		  <!-- Modal content -->
      <div class="modal-content">
		    <span class="close">&times;</span>
		    <div id="modalEdit">Some text in the Modal..</div>
		    <!-- slide show -->
		   <div id="modalPics">
  	 	 </div>
     </div>
<div class="tooltip" id="excavateFeatureTooltip">Click to excavate this feature!</div>
</body>
