<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Electronic Dig</title>
	<link rel="stylesheet" href="../css/Styles.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="../js/dig.js"></script>
	<nav>
		<ul>

			<span id="fullNav">
				<li><a href="../index.html" style="color:white;">Back to Dig</a></li>
			</span>
			<span id="smallNav">
				<div id="dropIcon">
					<a onclick="navToggle()" class="dropbtn">&#9776;</a>
					<div id="navDropdown">
						<a>&nbsp;</a>
						<a href="../index.html" style="color:white;">Back to Dig</a>
					</div>
				</div>
			</span>
			<div class="mainTitle">
				<h1 id="title">OCCANEECHI TOWN</h1>
				<h1 id="subtitle">ELECTRONIC DIG</h1>
			</div>
		</ul>
	</nav>

	<div id="tutorial-container">
    <div id="tutorialbackground"></div>
    <div id="tutorialhead"><h2>Electronic Dig Tutorial</h2></div>
		<div id="tutorialInfo"><img id="tutorialImg" src="../images/tut6.jpg">
			<p id="tutorialText">You may then choose to excavate any features that have been fully exposed by your excavation. To do this, simply move the mouse pointer over the square where the feature is located and click. When the map of the square appears, move the mouse pointer over the feature and click. If you are excavating with the Budget feature turned on, an amount of money will be removed from your remaining budget. You will be taken to a "Master" page that contains detailed drawings, photographs, artifact inventories, and written observations about that feature. You can view images and the description of the feature by clicking on either the "IMAGES" or "DESCRIPTION" button on the left side of the screen. Click on the "Map" button to return to the Electronic Dig screen.</p>
		</div>
		<a id="prevButton" href="tutorial5.html" class="other-buttons">Previous</a>
		<a id="nextButton" href="tutorial7.html" class="other-buttons">Next</a>
	</div>
</body>
