<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Electronic Dig</title>
	<link rel="stylesheet" href="../css/Styles.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="../js/dig.js"></script>
	<nav>
		<ul>

			<span id="fullNav">
				<li><a href="../index.html" style="color:white;">Back to Dig</a></li>
			</span>
			<span id="smallNav">
				<div id="dropIcon">
					<a onclick="navToggle()" class="dropbtn">&#9776;</a>
					<div id="navDropdown">
						<a>&nbsp;</a>
						<a href="../index.html" style="color:white;">Back to Dig</a>
					</div>
				</div>
			</span>
			<div class="mainTitle">
				<h1 id="title">OCCANEECHI TOWN</h1>
				<h1 id="subtitle">ELECTRONIC DIG</h1>
			</div>
		</ul>
	</nav>

	<div id="tutorial-container">
    <div id="tutorialbackground"></div>
    <div id="tutorialhead"><h2>Electronic Dig Tutorial</h2></div>
		<div id="tutorialInfo"><img id="tutorialImg" src="../images/tut7.gif">
			<p id="tutorialText">Remember, the point of all archaeological excavations is to learn about the past, to reconstruct how people lived, and to understand how peoples' ways of doing things -- their cultures -- changed through time. Archaeology is not a hunt for artifacts, but a quest for historical knowledge, much like detective work. Keep this in mind as you explore Occaneechi Town. May your quest be successful!</p>
			<br>
			<p style="font-size: 12pt;"><i>A Native American village in North Carolina, drawn in the 1580s by John White, an English colonist. The walls of some houses were cut away by the artist to show the details of construction (from America 1585: The Complete Drawings of John White, by Paul Hulton, University of North Carolina Press, 1984).</i></p>
		</div>
		<a id="prevButton" href="tutorial6.html" class="other-buttons">Previous</a>
		<a id="nextButton" href="../index.html" class="other-buttons">Back to Dig</a>
	</div>
</body>
