<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Electronic Dig</title>
	<link rel="stylesheet" href="../css/Styles.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="../js/dig.js"></script>
	<nav>
		<ul>

			<span id="fullNav">
				<li><a href="../index.html" style="color:white;">Back to Dig</a></li>
			</span>
			<span id="smallNav">
				<div id="dropIcon">
					<a onclick="navToggle()" class="dropbtn">&#9776;</a>
					<div id="navDropdown">
						<a>&nbsp;</a>
						<a href="../index.html" style="color:white;">Back to Dig</a>
					</div>
				</div>
			</span>
			<div class="mainTitle">
				<h1 id="title">OCCANEECHI TOWN</h1>
				<h1 id="subtitle">ELECTRONIC DIG</h1>
			</div>
		</ul>
	</nav>

	<div id="tutorial-container">
    <div id="tutorialbackground"></div>
    <div id="tutorialhead"><h2>Electronic Dig Tutorial</h2></div>
		<div id="tutorialInfo"><img id="tutorialImg" src="../images/tut3.jpg">
			<p id="tutorialText">There are two ways to select the squares that you want to excavate:
			<br>
			-One way is to simply move the mouse over a square and click. The selected square will become highlighted. Then click on additional squares until you have completed your selection. If you select a square by mistake, you can deselect it by clicking on it again. You can also clear your entire selection by clicking the "DESELECT" button.
			<br>
			-Another way to choose squares is to let your computer select them for you randomly (archaeologists sometimes find random sampling useful). To choose squares randomly, click on the "RANDOM" button and then enter the number of squares that you want the computer to select.
			</p>
		</div>
		<a id="prevButton" href="tutorial2.html" class="other-buttons">Previous</a>
		<a id="nextButton" href="tutorial4.html" class="other-buttons">Next</a>
	</div>
</body>
