<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Electronic Dig</title>
	<link rel="stylesheet" href="../css/Styles.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="js/dig.js"></script>
	<nav>
		<ul>

			<span id="fullNav">
				<li><a href="../index.html" style="color:white;">Back to Dig</a></li>
			</span>
			<span id="smallNav">
				<div id="dropIcon">
					<a onclick="navToggle()" class="dropbtn">&#9776;</a>
					<div id="navDropdown">
						<a>&nbsp;</a>
						<a href="../index.html" style="color:white;">Back to Dig</a>
					</div>
				</div>
			</span>
			<div class="mainTitle">
				<h1 id="title">OCCANEECHI TOWN</h1>
				<h1 id="subtitle">ELECTRONIC DIG</h1>
			</div>
		</ul>
	</nav>

	<div id="tutorial-container">
    <div id="tutorialbackground"></div>
    <div id="tutorialhead"><h2>Electronic Dig Tutorial</h2></div>
		<div id="tutorialInfo"><img id="tutorialImg" src="../images/tut5.jpg">
			<p id="tutorialText">To view a specific square, simply move the mouse pointer over it and click on it. This will take you to a "Master :page which contains more detailed information about the square. Here you can view a map and a photograph of the square by clicking the "IMAGES" button on the left side of the page. Additionally, an inventory of all artifacts that were found while excavating that square will be displayed on the right side. The artifacts are sorted by "context", and clicking on a context will display all of the artifacts discovered within that context. When you have finished viewing the "Master" page for a square (or feature), click on the "Map" tab at the top of the screen to return to the Electronic Dig map.</p>
		</div>
		<a id="prevButton" href="tutorial4.html" class="other-buttons">Previous</a>
		<a id="nextButton" href="tutorial6.html" class="other-buttons">Next</a>
	</div>
</body>
