<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Electronic Dig</title>
	<link rel="stylesheet" href="../css/Styles.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="js/dig.js"></script>
	<nav>
		<ul>

			<span id="fullNav">
				<li><a href="../index.html" style="color:white;">Back to Dig</a></li>
			</span>
			<span id="smallNav">
				<div id="dropIcon">
					<a onclick="navToggle()" class="dropbtn">&#9776;</a>
					<div id="navDropdown">
						<a>&nbsp;</a>
						<a href="../index.html" style="color:white;">Back to Dig</a>
					</div>
				</div>
			</span>
			<div class="mainTitle">
				<h1 id="title">OCCANEECHI TOWN</h1>
				<h1 id="subtitle">ELECTRONIC DIG</h1>
			</div>
		</ul>
	</nav>

	<div id="tutorial-container">
    <div id="tutorialbackground"></div>
    <div id="tutorialhead"><h2>Electronic Dig Tutorial</h2></div>
		<div id="tutorialInfo"><img id="tutorialImg" src="../images/tut4.jpg">
			<p id="tutorialText">Once you have finished selecting squares, click on the "EXCAVATE" button. This will electronically remove the plow zone from the squares that you selected, revealing the features below. (Remember, postholes and wall trenches are shown in black; features are tan-colored.) You now will have access to all of the archaeological information that was obtained from those squares. Keep in mind that you do not have to make your entire selection at once. You may want to excavate a few squares, see what you find, and then select additional ones based on your newly acquired information. This is exactly the way that most real excavations proceed.</p>
		</div>
		<a id="prevButton" href="tutorial3.html" class="other-buttons">Previous</a>
		<a id="nextButton" href="tutorial5.html" class="other-buttons">Next</a>
	</div>
</body>
