<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Electronic Dig</title>
	<link rel="stylesheet" href="../../css/Styles.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="js/dig.js"></script>
	<nav>
		<ul>

			<span id="fullNav">
				<li><a href="../../index.html" style="color:white;">Back to Dig</a></li>

			    </div>
			  </li>
			</span>
			<span id="smallNav">
				<div id="dropIcon">
					<a onclick="navToggle()" class="dropbtn">&#9776;</a>
					<div id="navDropdown">
						<a>&nbsp;</a>
						<a href="https://rla.unc.edu/dig/" target="_blank" style="color:white;">Occaneechi Home</a>
						<a>Tutorial</a>
						<a href="https://electronicdig.gitbook.io/primer/" target= "_blank">Primer</a>
					</div>
				</div>
			</span>
			<div class="mainTitle">
				<h1 id="title">OCCANEECHI TOWN</h1>
				<h1 id="subtitle">ELECTRONIC DIG</h1>
			</div>
		</ul>
	</nav>

  <div id="primer-container">
    <div id="tutorialbackground"></div>
    <div id="tutorialhead"><h2>Excavation Units</h2></div>
		<div id="primerLeft">
			<p id="tutorialText" style="font-size:13pt;">Each block in the checkerboard pattern shown here also happens to be an excavation unit, 10 by 10 feet in size, called a square. Each square is named after the grid coordinate of its southeast corner. Moving your mouse over the excavation map displays the square name in the box below. Notice how the names change in accordance with the grid. Because north is at the top of the map, each square's name is taken from its lower-right corner.</p>
		</div>
		<div id="primerRight">
			<img id="primerImg" src="../../images/primer5.png" style="width:100%;">
			<p style="width: 100%; font-size:12pt;">A portion of the Occaneechi Town excavation grid. Square 270R20.</p>
		</div>
		<a id="primerPrevButton" href="primer4.html" class="other-buttons">Previous</a>
		<a id="primerNextButton" href="primer6.html" class="other-buttons">Next</a>
	</div>

    <div id="artifacts">
			<h2 class="sideTitle">Contexts</h2>
			<div id="contextTable">
				<table id="contextTableTable">
				  <tr class="artifactrow">
					<th>Context</th>
					<th>Entries</th>
					<th>Photo</th>
				  </tr>
				  <tr class="artifactrow">
					<td>Zone 1</td>
					<td>2</td>
					<td></td>
				  </tr>
				  <tr class="artifactrow">
					<td>Posthole #1</td>
					<td>1</td>
					<td>Yes</td>
				  </tr>
				</table>
			</div>
      <h3 class="sideTitle">Artifacts in Context</h3>
			<div id="artifactTable">
				<table id="artifactTableTable">
				  <tr class="contextrow">
					<th>Cat No.</th>
					<!-- <th>Count</th> -->
					<th>Artifacts</th>
					<!-- <th>Size</th> -->
					<!-- <th>Photo</th> -->
					<th>More</th>
				  </tr>
				<tr class="contextrow">
					<td>Light Fraction</td>
					<!-- <td>1 bag</td> -->
					<td>2351w2758</td>
					<td><button id="myBtn">More</button></td>

					<!-- <td></td> -->
					<!-- <td>=></td> -->
				  </tr>
				  <tr class="contextrow">
					<td>Potsherd</td>
					<!-- <td>1/4"</td> -->
					<!-- <td>1</td> -->
					<td>2351w2756</td>
					<td><button id="myBtn2">More</button></td>
					<!-- <td></td> -->
				  </tr>
				</table>
			</div>
		</div>
  </div>

		<!-- The Modal -->
		<div id="myModal" class="modal">

		  <!-- Modal content -->
      <div class="modal-content">
		    <span class="close">&times;</span>
		    <div id="modalEdit">Some text in the Modal..</div>
		    <!-- slide show -->
		   <div id="modalPics">
  	 	 </div>
     </div>
<div class="tooltip" id="excavateFeatureTooltip">Click to excavate this feature!</div>
</body>
